# ROOT data files #
###################
*.root

# Temporary files #
###################
*~
*.swp

# Log files #
#############
*.log

# Compiled source #
###################
*.d
*.so

# Folders #
###########
figures
